spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://192.168.208.129:3306/content_db?severTimezone=UTC
    username: root
    password: 111111

  application:
    name: content-service
  cloud:
    nacos:
      server-addr: 192.168.214.1:8848
    openfeign: # HttpClient连接池配置
      httpclient:
        max-connections: 200 # 最大总连接数
        max-connections-per-route: 50 # 单个下游服务的最大连接数
      # Feign客户端配置（针对file-service）
      client:
        config:
          file-service: # 只对fileClient生效
            connect-timeout: 3000 # 连接超时3秒
            read-timeout: 10000 # 读取超时10秒
  lettuce:
    pool:
      max-active: 8
      max-idle: 8
      min-idle: 2
      max-wait: -1
      time-between-eviction-runs:

  mail:
    host: smtp.qq.com
    port: 465
    username: 3157153831@qq.com
    password: tvotknudkgnrdhda
    properties:
      mail:
        smtp:
          ssl:
            enable: true
  data:
    redis:
      host: 192.168.208.129
      port: 6379
      database: 0
      timeout: 3000
  servlet:
    multipart:
          enabled: true # 启用文件上传
          max-file-size: 500MB # 单个文件最大大小（根据需求调整，如50GB）
          max-request-size: 1GB # 单次请求总大小（需大于单个文件大小，支持多文件）
          file-size-threshold: 10MB # 超过该大小的文件转磁盘存储（避免内存溢出）
          location: /tmp/tomcat/upload # 临时文件存储路径（需确保目录存在且有读写权限）
rocketmq:
  name-server: 127.0.0.1:9876
  producer:
    group: shopping_cart_producer_group  # 替换原${RocketMQConstant.XXX}
    send-message-timeout: 3000
    retry-times-when-send-failed: 2
  consumer:
    group: shopping_cart_consumer_group  # 替换原${RocketMQConstant.XXX}

server:
  port: 8083

jwt:
  secret: your-32bytes-secret-key-12345678
  expire-hours: 2

user:
  context:
    interceptor:
      userId-header: user-id
      include-paths:
        - /content/**
        - /resource/**
        - /shop/**
      exclude-paths:

logging:
  level:
    org.springframework.web: DEBUG # 打印请求参数绑定日志

management:
  endpoints:
    web:
      exposure:
        include: threadpool,health,info